@font-face {
    font-family: "MiSans";
    src: url('../font/MiSans-Regular.subset.woff2') format('woff2'),
        url('../font/MiSans-Regular.woff2') format('woff'),
        url('../font/MiSans-Regular.subset.ttf') format('truetype');
}

@font-face {
    font-family: 'Nitaifont';
    src: url('../font/NitaiFont/NitaiFont\(Farme\)-Bold.woff2') format('woff2'),
        url('../font/NitaiFont/NitaiFont\(Farme\)-Bold.woff') format('woff'),
        url('../font/NitaiFont/NitaiFont\(Farme\)-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "iconfont";
    /* Project id 4818924 */
    src: url('../font/NitaiFont/iconfont\(Basic\).woff2') format('woff2'),
        url('../font/NitaiFont/iconfont\(Basic\).woff') format('woff'),
        url('../font/NitaiFont/iconfont\(Basic\).ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-a-360sousuo:before {
    content: "\e601";
}

.icon-unfold:before {
    content: "\e602";
}

.icon-github:before {
    content: "\e603";
}

.icon-bing:before {
    content: "\e604";
}

.icon-sousuo:before {
    content: "\e605";
}

.icon-tianjia-:before {
    content: "\e606";
}

.icon-zhihu:before {
    content: "\e607";
}

.icon-jingdong:before {
    content: "\e608";
}

.icon-wangluo:before {
    content: "\e609";
}

.icon-xiugai:before {
    content: "\e60a";
}

.icon-xinlangweibo:before {
    content: "\e60b";
}

.icon-fold:before {
    content: "\e60c";
}

.icon-taobao:before {
    content: "\e60d";
}

.icon-google:before {
    content: "\e60e";
}

.icon-baidu:before {
    content: "\e60f";
}

.icon-shezhi:before {
    content: "\e610";
}

.icon-delete:before {
    content: "\e611";
}

.icon-sougousousuo:before {
    content: "\e612";
}

.icon-bilibilidonghua:before {
    content: "\e613";
}

.icon-home:before {
    content: "\e614";
}

.icon-mouse-right:before {
    content: "\e615";
}

.icon-warn:before {
    content: "\e617";
}

.icon-keyword-i:before {
    content: "\e618";
}

.icon-keyword-tab:before {
    content: "\e619";
}

.icon-remove:before {
    content: "\e61a";
}

.icon-wait:before {
    content: "\e61b";
}

.icon-refresh:before {
    content: "\e61c";
}

.icon-connect:before {
    content: "\e61d";
}

.icon-disconnect:before {
    content: "\e61e";
}

.icon-left:before {
    content: "\e61f";
}

.icon-right:before {
    content: "\e620";
}

.icon-round-right:before {
    content: "\e621";
}

.icon-round-left:before {
    content: "\e622";
}

.icon-show:before {
    content: "\e623";
}

.icon-hide:before {
    content: "\e624";
}

.icon-open:before {
    content: "\e625";
}

.icon-no:before {
    content: "\e626";
}

.icon-close:before {
    content: "\e627";
}

.icon-move:before {
    content: "\e628";
}

.icon-or:before {
    content: "\e629";
}

.icon-yandex:before {
    content: "\e62a";
}

.icon-duckduckgo:before {
    content: "\e62b";
}

.icon-nail:before {
    content: "\e62c";
}

.icon-unnail:before {
    content: "\e62d";
}

.icon-line:before {
    content: "\e62e";
}

.icon-tab-:before {
    content: "\e62f";
}

.icon-unfolding:before {
    content: "\e630";
}

.icon-act:before {
    content: "\e631";
}

.icon-folding:before {
    content: "\e632";
}

.icon-time-24:before {
    content: "\e633";
}

.icon-check-on:before {
    content: "\e634";
}

.icon-copy:before {
    content: "\e635";
}

.icon-wrong:before {
    content: "\e636";
}

.icon-right1:before {
    content: "\e637";
}

.icon-infinity:before {
    content: "\e638";
}

.icon-check-off:before {
    content: "\e639";
}

.icon-NitaiPage_poster:before {
    content: "\e63a";
}

.icon-NitaiPage_icon:before {
    content: "\e63b";
}

.icon-NitaiFarme_icon:before {
    content: "\e63c";
}