@font-face {
    font-family: 'Alibaba Sans';
    src: url('../font/Alibaba\ Sans\ Heavy.woff2') format('woff2'),
        url('../font/Alibaba\ Sans\ Heavy.woff') format('woff'),
        url('../font/Alibaba\ Sans\ Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mi Sans';
    src: url('../font/MiSans-Regular.subset.woff2') format('woff2'),
        url('../font/MiSans-Regular.subset.woff') format('woff'),
        url('../font/MiSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Alibaba Sans', 'Mi Sans', sans-serif;
}


#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo span {
    font-size: 72px;
    color: #444;
}

.logo span {
    background: linear-gradient(to bottom right, #0E2949, #2365b4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fade-in {
    opacity: 1;
    transition: opacity var(--fade-duration, 1s);
}

.fade-in.show {
    opacity: 0;
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity var(--fade-duration, 1s);
}

.fade-out.hide {
    opacity: 1;
}

.skeleton {
    background: #c1c1c1;
    background-image: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 75%, #f0f0f0 100%);
    background-size: 200% 100%;
    animation: skeleton-loading 2s infinite ease-in-out;
    border-radius: 8px;
    margin-bottom: 16px;
}

@keyframes skeleton-loading {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.fadeHidden {
    opacity: 0 !important;
    visibility: hidden !important;
    overflow: hidden !important;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}